*{
    font-family: var(--font-family);
    font-weight: 600;
    color: var(--color-heading);
}

.tome__footer-icon{
    padding: 0rem 15rem;
    margin: 0 600px 1px;
    display: block;
    height: fit-content;
    cursor: pointer;
}
.tome__footer-logo{
    margin: 1rem 1rem 1rem;
    filter: grayscale(100%) opacity(0.5) brightness(1) blur(1px);
}
.twitter{
    margin: 0px 45px 0px;
}

.tome__footer-list{
    justify-content: space-evenly;
    margin: 1rem 1rem 1rem;
}
.tome__footer-list p{
    margin: 0 0 16px;
}

.tome__footer-copyright p{
    padding: 3rem;
    margin: 1rem 50rem 1rem;
    color: var(--color-para);
}
